<h1>Listing users</h1>

<div id="drag_from_here">
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>

<div id="drop_here">
  <h1>Users who have finished work</h1>
      <ol>
          <li class="placeholder"> add your name here</li>
    </div>

    <div style="height:1500px">
        <button class="myLinkToTop" id="but1" >Add new user</button>


        <div class="scrolltext">
<%= link_to 'New User', new_user_path %>
<button class="myMenuLink" id="but1" >Go back up</button>
</div>
